@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config '../../../../tailwind.config.js';

/* POS Specific Overrides */
.filament-page-simple-layout {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fi-main {
    height: 100vh;
    padding: 0 !important;
    max-width: none !important;
}

.fi-layout > div {
    height: 100vh;
}
